<div id="leftHeader" class="d-flex justify-content-between">
    <div class="col-md-3">
        <img id="headerLogo" class="image-responsive" src="/images/logos/newlogo2.png"/>
        <div id="fa-links">
            <a href="http://facebook.com">
                <i aria-hidden="true" class="fa fa-facebook"></i>
            </a>
            <a href="http://twitter.com">
                <i aria-hidden="true" class="fa fa-twitter"></i>
            </a>
            <a href="http://instagram.com">
                <i aria-hidden="true" class="fa fa-instagram"></i>
            </a>
            <a href="http://gmail.com">
                <i aria-hidden="true" class="fa fa-envelope"></i>
            </a>
            <a href="http://phone.com">
                <i aria-hidden="true" class="fa fa-phone"></i>
            </a>
        </div>
    </div> <!-- leftHeader -->
    <div id="rightHeader" class="col-md-3">
        <div class="headerContent">
            <div class="accountLinks">
                <a href="/">my account</a>|<a href="#">login</a>
            </div>
            <div class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="false">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i> Cart
                    {{# if session.cart.totalItems}}
                        <span>({{session.cart.totalItems}})</span>
                    {{/if}}
                </a>
                {{# if session.cart.totalItems}}
                    <div class="dropdown-menu">
                        <div class="cart">
                            {{# each session.cart.items}}
                                <div class="row">
                                    <div class="col-xs-4">
                                        {{this.item.title}}
                                    </div>
                                    <div class="col-xs-4 text-right">
                                        <span class="badge">{{this.quantity}}</span>
                                    </div>
                                    <div class="col-xs-4 text-right">
                                        ${{this.price}}
                                    </div>
                                </div>
                            {{/each}}
                            <div class="row">
                                <div class="text-right">
                                    <div class="totalPrice">Total: ${{session.cart.totalPrice}}</div>
                                    <a href="/cart" class="btn btn-success">Proceed</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/if}}
            </div>
        </div>
    </div> <!-- rightHeader TODO: Maybe Align rightHeader Better -->
</div>